<!DOCTYPE html>
<html>
    <head>
        <title>Auth System</title>
    </head>
    <body>
        <h1>Auth System</h1>
        <p>ryanneeki's custom authentication and identity management system</p>
    </body>
</html>