<!DOCTYPE html>
<html>
    <head>
        <title>Login - Auth System</title>
    </head>
    <body>
        <h1>Auth System</h1>
        <p>ryanneeki's custom authentication and identity management system</p>
        <h2>Login</h2>
        <p>Please provide your credentials (email and password) below to login to the system</p>
        <form method="POST" action="/login">
            <label for="login-email">Email</label>
            <input type="email" name="login-email" id="login-email" required/>
            <label for="login-password">Password</label>
            <input type="password" name="login-password" id="login-password" required/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>