<!DOCTYPE html>
<html>
    <head>
        <title>Auth System</title>
    </head>
    <body>
        <h1>Auth System</h1>
        <p>ryanneeki's custom authentication and identity management system</p>
        <h2>New message</h2>
        <form method="POST" action="/new-message">
            <label for="message">Message</label>
            <input type="text" name="message" id="message" required/>
            <button type="submit">Post</button>
        </form>
    </body>
</html>