<!DOCTYPE html>
<html>
    <head>
        <title>Regsiter - Auth System</title>
    </head>
    <body>
        <h1>Auth System</h1>
        <p>ryanneeki's custom authentication and identity management system</p>
        <h2>Login</h2>
        <p>Please provide your credentials (email and password) below to create your account</p>
        <form method="POST" action="/register">
            <label for="register-email">Email</label>
            <input type="email" name="regsiter-email" id="regsiter-email" />
            <label for="regsiter-password">Password</label>
            <input type="password" name="register-password" id="register-password" />
            <button type="submit">Create Account</button>
        </form>
    </body>
</html>