<!DOCTYPE html>
<html>
    <head>
        <title>Auth System</title>
    </head>
    <body>
        <h1>Auth System</h1>
        <p>ryanneeki's custom authentication and identity management system</p>
        <h2>Become a member of the secret club!</h2>
        <form method="POST" action="/henki">
            <label for="code">Secret code</label>
            <input type="text" name="code" id="code" required/>
            <button type="submit">Transform</button>
        </form>
    </body>
</html>